<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quadra - Password</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/global.css" />
    <link rel="stylesheet" href="/stylesheets/password.css" />
  </head>
  <body>
    <div id="password-container">

      <form id="form-password" action="/auth/password/{{userID}}" method="post">
        {{#if messageError}}
          <p class="message error">
            {{messageError}}
          </p>
        {{/if}}

        {{#if messageSuccess}}
          <p class="message success">
            {{messageSuccess}}
          </p>
        {{/if}}

        <h3>SET A NEW PASSWORD</h3>

        <label for="password">Password</label>
        <input
          {{#if password}}
            value="{{password}}"
          {{/if}}
          maxlength="120"
          required="true"
          type="password"
          name="password"
          id="password"
          placeholder="Set a new password"
        />

        <label for="confirmPassword">Confirm password</label>
        <input
          {{#if confirmPassword}}
            value="{{confirmPassword}}"
          {{/if}}
          maxlength="120"
          required="true"
          type="password"
          name="confirmPassword"
          id="confirmPassword"
          placeholder="Confirm password"
        />

        <button type="submit">CONFIRM PASSWORD</button>

        <p>Remember your password? Click
          <a href="/auth/login">here</a>
          to login</p>
      </form>

    </div>
  </body>
</html>