<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quadra - New order</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/global.css" />
    <link rel="stylesheet" href="/stylesheets/new-order.css" />
  </head>
  <body>
    <nav class="navbar fixed-top navbar-expand-lg">
      <div class="container-fluid">
        <a class="nav-title" href="/private/new-order">QUADRA</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="22"
            height="22"
            fill="#FFF"
            class="bi bi-list"
            viewBox="0 0 16 16"
          >
            <path
              fill-rule="evenodd"
              d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"
            />
          </svg>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav nav-menu">
            <li class="nav-item">
              <a class="nav-link" href="/private/profile">PROFILE</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/private/orders">ORDERS</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/auth/logout">LOGOUT</a>
            </li>
          </div>
        </div>
      </div>
    </nav>

    <div id="new-order-container">
      <aside class="car-info car-info-dark">
        <div id="car-color">
          <h1>$123.490</h1>
          <label for="dark-chalks"></label>
          <label for="arctic-white"></label>
          <strong><p>COLOR:</strong> <span>{{#if color}}{{color}}{{/if}}</span></p>
        </div>
      </aside>

      <aside id="form-container">
        <form 
        {{#if _id}}
          action="/private/update-order/{{_id}}"
        {{else}}
          action="/private/new-order"
        {{/if}}
          method="post">
          
          <h2>CHECKOUT</h2>

          <input type="radio" 
            {{#if darkChalks}}
              checked
            {{/if}}
            value="DARK CHALKS" 
            name="color" 
            id="dark-chalks">
          
          <input type="radio" 
            {{#if arcticWhite}}
              checked
            {{/if}}
            value="ARCTIC WHITE" 
            name="color" 
            id="arctic-white">

          <div id="container">
            <div id="container-1">
              <label for="address-code">Addres code</label>
              <input
                {{#if addressCode}}
                  value="{{addressCode}}"
                {{/if}}
                required="true"
                maxlength="9"
                minlength="9"
                type="text"
                id="address-code"
                name="addressCode"
                placeholder="00000-000"
              />

              <div>
                <div id="input-container">
                  <label for="city">City</label>
                  <input
                    {{#if city}}
                      value="{{city}}"
                    {{/if}}
                    required="true"
                    maxlength="120"
                    type="text"
                    id="city"
                    name="city"
                    placeholder="SÃO PAULO"
                  />
                </div>

                <div>
                  <label for="state">State</label>
                  <input
                    {{#if state}}
                      value="{{state}}"
                    {{/if}}
                    required="true"
                    maxlength="2"
                    minlength="2"
                    type="text"
                    id="state"
                    name="state"
                    placeholder="SP"
                  />
                </div>
              </div>

              <div>
                <div id="input-container">
                  <label for="street">Street</label>
                  <input
                    {{#if street}}
                      value="{{street}}"
                    {{/if}}
                    required="true"
                    maxlength="120"
                    type="text"
                    id="street"
                    name="street"
                    placeholder="SMALL STREET"
                  />
                </div>
                
                <div>
                  <label for="number">Number</label>
                  <input
                    {{#if number}}
                      value="{{number}}"
                    {{/if}}
                    required="true"
                    maxlength="5"
                    type="text"
                    id="number"
                    name="number"
                    placeholder="451"
                    list="none"
                  />
                </div>
              </div>
            </div>

            <div id="container-2">
              <label for="card-name">Cardholders name</label>
              <input
                {{#if cardName}}
                  value="{{cardName}}"
                {{/if}}
                required="true"
                maxlength="120"
                type="text"
                id="card-name"
                name="cardName"
                placeholder="NAME"
              />

              <label for="card-number">Card number</label>
              <input
                {{#if cardNumber}}
                  value="{{cardNumber}}"
                {{/if}}
                required="true"
                maxlength="19"
                minlength="19"
                type="text"
                id="card-number"
                name="cardNumber"
                placeholder="4103 **** **** 8630"
              />

              <div>
                <div>
                  <label for="expirate-date">Expirate date</label>
                  <input
                    {{#if expirateDate}}
                      value="{{expirateDate}}"
                    {{/if}}
                    required="true"
                    maxlength="5"
                    minlength="5"
                    type="text"
                    id="expirate-date"
                    name="expirateDate"
                    placeholder="00/00"
                  />
                </div>
                
                <div>
                  <label for="cvc">CVC</label>
                  <input
                    {{#if cvc}}
                      value="{{cvc}}"
                    {{/if}}
                    required="true"
                    maxlength="3"
                    minlength="3"
                    type="text"
                    id="cvc"
                    name="cvc"
                    placeholder="336"
                  />
                </div>
                <button id="order-now" type="submit" disabled="true">
                {{#if _id}}
                  UPDATE
                {{else}} 
                  ORDER NOW
                {{/if}}
                </button>
              </div>
            </div>
          </div>

          <div class="btns">
            <div class="left"></div>
            <div class="right"></div>
          </div>
        </form>
      </aside>
    </div>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="/js/private.js"></script>
    <script src="/js/new-order.js"></script>

    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
      integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy"
      crossorigin="anonymous"
    ></script>
  </body>
</html>